[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
flask = "*"
opentracing = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
